body {
  background-color: #f5f5f5;
}
pre {
  color: #f5f5f5;
  width: 500px;
  background-color: #252525;
  border-radius: 5px;
  font-family: monospace;
  line-height: 2;
  margin: 5rem auto 0;
  padding: 0.5em 1em;
}